    <header>
        <div class="container main-nav-container">
            <div class="logo-container">
                <a href="index.html">
                    <img src="images/logo-gosemi.svg" alt="Go Semi & Beyond" class="main-logo">
                </a>
            </div>
            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="current-issue.html">Current Issue</a></li>
                    <li><a href="archive.html">Archive</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="sponsors.html">Sponsors</a></li>
                    <li><a href="subscribe.html" class="btn-small">Subscribe</a></li>
                </ul>
            </nav>
        </div>
    </header>
