    <header>
        <div class="container main-nav-container">
            <div class="logo-container">
                <a href="index.html">
                    <img src="images/logo-gosemi.svg" alt="Go Semi & Beyond" class="main-logo">
                </a>
            </div>
            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li class="dropdown">
                        <a href="current-issue.html" class="dropdown-toggle">Current Issue <span class="arrow">&#9662;</span></a>
                        <ul class="dropdown-menu">
                            <li><a href="article-singulated-die-test.html">Singulated Die Test</a></li>
                            <li><a href="article-digital-twins.html">Digital Twins & AI/ML</a></li>
                            <li><a href="article-siconic.html">SiConic Platform</a></li>
                            <li><a href="article-executive-viewpoint.html">Executive Viewpoint</a></li>
                            <li><a href="article-cxo-interview.html">CxO Interview</a></li>
                            <li><a href="article-featured-products.html">Featured Products</a></li>
                            <li><a href="article-semicon-west.html">SEMICON West Recap</a></li>
                            <li><a href="article-esg-spotlight.html">ESG Spotlight</a></li>
                        </ul>
                    </li>
                    <li><a href="archive.html">Archive</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="sponsors.html">Sponsors</a></li>
                    <li><a href="subscribe.html" class="btn-small">Subscribe</a></li>
                </ul>
            </nav>
        </div>
    </header>
